<ion-header>
  <ion-toolbar>
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="general-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Geolocation</ion-card-title>
      </ion-card-header>

      <ion-list>
        <ion-item>
          <ion-label>Breitengrad</ion-label>
          {{ latitude }}
        </ion-item>
        <ion-item>
          <ion-label>Längengrad</ion-label>
          {{ longitude }}
        </ion-item>
        <ion-item>
          <ion-label>Höhe ü. Meer</ion-label>
          {{ altitude }}
        </ion-item>
      </ion-list>

      <ion-button fill="clear" (click)="getCurrentPosition()">Standort abfragen</ion-button>
      <ion-button fill="clear" (click)="resetPosition()">Reset</ion-button>
    </ion-card>
  </div>
</ion-content>
