<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="general-content">
    <ion-card>

      <img *ngIf="imageUrl" [src]="imageUrl" />

      <ion-button fill="clear"
                  (click)="takePicture()">
        Foto aufnehmen
      </ion-button>

      <ion-button fill="clear"
                  *ngIf="imageUrl"
                  (click)="resetPicture()">
        Reset
      </ion-button>

    </ion-card>
  </div>
</ion-content>
